








// XS


@media (max-width: 767px){

	h2{
		text-align: center;
	}
	ul{
		padding-left: 0;
	}


	.logo{
		text-align: center;
	}
	header .main-nav{
		float: none;
		

		&__item{
			display: block;
			text-align: center;
		}
	}

	.contacts ul{
		display: block;
	}


	.contacts ul li{
		width: 100%;
		display: block;
		text-align: center;
		margin-top: 20px;
	}
	.promo{ 

		.cover{
		text-align: center;
		padding: 10px;
	}

		.img-box span{
		margin-right: 0;
		width: 20px;
		display: block;
		margin: 0 auto;
	}

	.img-box .images{
		display: block;
		text-align: center;
	}
	.img-box .images-1, .img-box .images-2{
		width: 100%;
	}
	.old-price{
		width: 100%;
		display: block;
		text-align: center;

		.del{
			left: 50%;
			margin-left: -60px;
		}

	}
	.price-box{
		padding-left: 0;
		display: block;
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
	.recall-btn, .promo .order-btn{
		float: none;
		display: block;
		margin: 0 auto;
		margin-top: 20px;
	}

}

	.callback{
		text-align: center;

		img{
			margin-left: 0;
		}

		span{
			margin-left: 0;
		}
		.operator{
			display: block;
			margin: 0 auto;
			text-align: center;
		}


	}

	// Advantages


	.advantages{
		.col-xs-12{
			margin-bottom: 25px;
		}
		p img{
			margin-bottom: 10px;
		}
	}

	.about .use{
		text-align: center;
	}
	.about .product-advantages{
		text-align: center;
		padding-left: 0;

		ul{
			padding: 0;
		}

		ul li{
			list-style: none;
			line-height: 25px;
			padding: 5px 0;
			border: 1px solid #DD5E1C;
			margin-top: 5px;
			border-radius: 6px;
			font-size: 16px;
		}
	}

	.slider{
		.complectation{
			text-align: center;

			ul li{
				list-style: none;
			}
		}
	}



	.video {

		.youtube{
			width: 100%;
			height: 360px;
		}

		.video-description{
			margin-top: 30px;
		}

			p{
				text-align: center;
			}
	}

	.order{
		height: auto;
		width: 60%;

	}


	// Delivery

	.delivery, .pay{
			margin-bottom: 50px;
		}

// Feedback

.feedback{
	text-align: center;

	blockquote{
		text-align: left;
	}
}

.feedback .make-feedback input{
	width: 100%;
}
.feedback .make-feedback textarea{
	width: 100%;
}


// feedback page

.feedback-page blockquote{
	width: 100%;
}


// 404 page


.error{
	height: 100%;
	background-size: auto;
	padding: 20px 0;

	p{
		font-size: 30px;
	}

	ul{
		padding: 40px 0;

	}

	ul li{
		font-size: 20px;
		line-height: 25px;

		span{
			font-size: 22px;
		}
	}
}


}


// SM

@media (min-width: 767px) and (max-width: 991px){

	.promo .old-price .del{
		left: 50%;
		margin-left: -60px;
	}
	.about{
		text-align: center;

		ul{
			padding-left: 0;
		}

		ul li{
			list-style: none;
		}
	}

	.slider{
		text-align: center;
		ul{
			padding-left: 0;
		}
		ul li{
			list-style: none;
		}
	}

	.contacts ul li{
		width: 100%;
		display: block;
		margin: 0 auto;
		margin-top: 20px;
	}
	.contacts ul{
		display: block;
	}

	// Advantages


	.advantages{
		.col-xs-12{
			margin-bottom: 25px;
		}
		p img{
			margin-bottom: 10px;
		}
	}

	.video{
		text-align: center;
	}
	.callback{
		text-align: center;

		.operator{
			margin-left: 0;
		}

		 span{
		display: block;
		margin: 0 auto;
		font-size: 18px;
		}
	}

	.delivery, .pay{
		text-align: center;
		margin-bottom: 30px;
	}
	ul{
		padding-left: 0;
	}


	// Feedback

.feedback{
	text-align: center;

	blockquote{
		text-align: left;
	}
}


// 404 page


.error{
	height: 100%;
	background-size: auto;
	padding: 30px 0;

	p{
		font-size: 30px;
	}

	ul{
		padding: 40px 0;

	}

	ul li{
		font-size: 26px;
		line-height: 40px;

		span{
			font-size: 22px;
		}
	}
}
}



// MD


@media (min-width: 992px) and (max-width: 1200px){
	.promo .img-box span{
		margin-right: 15px;
	}
	.promo .old-price .del{
		left: 50%;
		margin-left: -60px;
	}

	.delivery, .pay{
		min-height: 370px;
	}

	.contacts ul li{
		width: 50%;

		&:last-child{
			width: 100%;
			margin: 0 auto;
			margin-top: 20px;
		}
	}

	.callback span{
		width: 70%;
		font-size: 18px;
	}

}





