








// XS


@media (max-width: 767px){

	h2{
		text-align: center;
	}
	ul{
		padding-left: 0;
	}


	.logo{
		text-align: center;
	}
	header .main-nav{
		float: none;
		

		&__item{
			display: block;
			text-align: center;
		}
	}

	.contacts ul{
		display: block;
	}


	.contacts ul li{
		width: 100%;
		display: block;
		text-align: center;
		margin-top: 20px;
	}
	.promo .img-box span{
		margin-right: 0;
		width: 20px;
		display: block;
		margin: 0 auto;
	}
	.promo .img-box .images{
		display: block;
		text-align: center;
	}
	.promo .img-box .images-1, .promo .img-box .images-2{
		width: 100%;
	}
	.promo .old-price{
		width: 100%;
		display: block;
		text-align: center;

		.del{
			left: 50%;
			margin-left: -60px;
		}

	}
	.promo .price-box{
		padding-left: 0;
		display: block;
		width: 100%;
		text-align: center;
		margin-top: 20px;
	}
	.promo .recall-btn, .promo .order-btn{
		float: none;
		display: block;
		margin: 0 auto;
		margin-top: 20px;
	}

	.callback{
		text-align: center;

		img{
			margin-left: 0;
		}

		span{
			margin-left: 0;
		}
		.operator{
			display: block;
			margin: 0 auto;
			text-align: center;
		}


	}

	// Advantages


	.advantages{
		.col-xs-12{
			margin-bottom: 25px;
		}
		p img{
			margin-bottom: 10px;
		}
	}

	.about .use{
		text-align: center;
	}
	.about .product-advantages{
		text-align: center;
		padding-left: 0;

		ul{
			padding: 0;
		}

		ul li{
			list-style: none;
			line-height: 35px;
			border: 1px solid #DD5E1C;
			margin-top: 5px;
			border-radius: 6px;
			font-size: 16px;
		}
	}

	.slider{
		.complectation{
			text-align: center;

			ul li{
				list-style: none;
			}
		}
	}

	.video .video-description{
		margin-top: 30px;
	}

	.order{
		height: auto;
		width: 60%;
	}


	// Delivery

	.delivery, .pay{
			margin-bottom: 50px;
		}


}


// SM

@media (min-width: 767px) and (max-width: 991px){

	.promo .old-price .del{
		left: 50%;
		margin-left: -60px;
	}
	.about{
		text-align: center;

		ul{
			padding-left: 0;
		}

		ul li{
			list-style: none;
		}
	}

	.slider{
		text-align: center;
		ul{
			padding-left: 0;
		}
		ul li{
			list-style: none;
		}
	}

	.contacts ul li{
		width: 100%;
		display: block;
		margin: 0 auto;
		margin-top: 20px;
	}
	.contacts ul{
		display: block;
	}

	// Advantages


	.advantages{
		.col-xs-12{
			margin-bottom: 25px;
		}
		p img{
			margin-bottom: 10px;
		}
	}

	.video{
		text-align: center;
	}
	.callback{
		text-align: center;

		.operator{
			margin-left: 0;
		}

		 span{
		display: block;
		margin: 0 auto;
		font-size: 18px;
		}
	}

	.delivery, .pay{
		text-align: center;
	}
	ul{
		padding-left: 0;
	}
}



// MD


@media (min-width: 992px) and (max-width: 1200px){
	.promo .img-box span{
		margin-right: 15px;
	}
	.promo .old-price .del{
		left: 50%;
		margin-left: -60px;
	}

	.contacts ul li{
		margin: 0 19px;
	}

	.callback span{
		width: 70%;
		font-size: 18px;
	}

}





