// SM

@media (min-width: 767px) and (max-width: 991px){
	.slider .psr .my-set{
		position: static;
	}
	.contacts ul li{
		display: block;
		text-align: center;
		margin-top: 20px;
	}
}









// XS


@media (max-width: 767px){


	.slider .psr .my-set{
		position: static;
	}
	.contacts ul li{
		display: block;
		text-align: center;
		margin-top: 20px;
	}
}



